.bundesliga {
    background-image: url("../../assets/images/backgrounds/bg-bundesliga.png");
    background-size: cover;
    background-position: top left;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
}