* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0e1217; */
  background-color: rgb(226, 224, 224);
  color: black;
  font-family: 'Poppins';
}

.bckg-white {
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  max-width: 2000px;
}